name: Scheduled Workflow

on:
  schedule:
    - cron: "*/5 * * * *"   # runs every 5 minutes

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Print scheduled message
        run: echo "Scheduled workflow running"
